{% extends 'base_template.html' %}
{% load static %}
{% block header_title %}
  <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Мой профиль</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Мой профиль</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
{% endblock %}
{% block content %}

    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">

            <!-- Profile Image -->
            <div class="card card-primary card-outline">
              <div class="card-body box-profile">
                <div class="text-center">
                    {% if request.user.avatar %}
                  <img class="profile-user-img img-fluid img-circle"
                       src="{{ request.user.avatar.url }}"
                       alt="User profile picture">
                    {% else %}
                     <img class="profile-user-img img-fluid img-circle"
                       src="{% static '../media/teachers_images/default_user_image.png' %}"
                       alt="User profile picture">
                    {% endif %}
                </div>

                <h3 class="profile-username text-center">{{ request.user.first_name}} {{ request.user.middle_name}} {{ request.user.last_name}}</h3>

                <p class="text-muted text-center">{{ request.user.pin }}</p>

                <div class="card-body">
                    <strong><i class="fas fa-book mr-1"></i>Класс</strong>
                    <p class="text-muted">{{ request.user.student.group }}</p>
                    <hr>
                    <strong><i class="fas fa-map-marker-alt mr-1"></i>Адрес проживания</strong>
                    <p class="text-muted">{{ request.user.address }}</p>
                    <hr>
                    <strong><i class="fas fa-pencil-alt mr-1"></i>Дата рождения</strong>
                    <p class="text-muted">{{ request.user.birthday }}</p>
                    <hr>
                    <strong><i class="far fa-file-alt mr-1"></i>Телефон родителя</strong>
                    <p class="text-muted">{{ request.user.student.parent_phone }}</p>
                </div>
                <a href="{% url 'user_update' request.user.id %}"><button type="button" class="btn btn-block bg-gradient-primary">Редактировать</button></a>
                <hr>
                <a href="{% url 'change_password' %}"><button type="button" class="btn btn-block bg-gradient-secondary">Сменить пароль</button></a>
              </div>
              <!-- /.card-body -->
            </div>

          </div>
          <!-- /.col -->
          <div class="col-md-9">
            <div class="card card-primary">
              <div class="card-header">
                <ul class="nav nav-pills">
                  <h3 class="card-title">Уголок {{ request.user.student.group }} класса</h3>
<!--                  <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Settings</a></li>-->
                </ul>
              </div><!-- /.card-header -->
              <div class="card-body">
                <div class="tab-content">
                  <div class="active tab-pane" id="activity">
                    <!-- Post -->
                    <div class="post">
                      <div class="user-block">
                        <img class="img-circle img-bordered-sm" src="../../dist/img/user1-128x128.jpg" alt="user image">
                        <span class="username">
                          <a href="#">Jonathan Burke Jr.</a>
                          <a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>
                        </span>
                        <span class="description">Shared publicly - 7:30 PM today</span>
                      </div>
                      <!-- /.user-block -->
                      <p>
                        Lorem ipsum represents a long-held tradition for designers,
                        typographers and the like. Some people hate it and argue for
                        its demise, but others ignore the hate as they create awesome
                        tools to help create filler text for everyone from bacon lovers
                        to Charlie Sheen fans.
                      </p>

                      <p>
                        <a href="#" class="link-black text-sm mr-2"><i class="fas fa-share mr-1"></i> Share</a>
                        <a href="#" class="link-black text-sm"><i class="far fa-thumbs-up mr-1"></i> Like</a>
                        <span class="float-right">
                          <a href="#" class="link-black text-sm">
                            <i class="far fa-comments mr-1"></i> Comments (5)
                          </a>
                        </span>
                      </p>

                      <input class="form-control form-control-sm" type="text" placeholder="Type a comment">
                    </div>
                    <!-- /.post -->
                  </div>
                  <!-- /.tab-pane -->
                  <!-- /.tab-pane -->

<!--                  <div class="tab-pane" id="settings">-->
<!--                    <form class="form-horizontal">-->
<!--                      <div class="form-group row">-->
<!--                        <label for="inputName" class="col-sm-2 col-form-label">Name</label>-->
<!--                        <div class="col-sm-10">-->
<!--                          <input type="email" class="form-control" id="inputName" placeholder="Name">-->
<!--                        </div>-->
<!--                      </div>-->
<!--                      <div class="form-group row">-->
<!--                        <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>-->
<!--                        <div class="col-sm-10">-->
<!--                          <input type="email" class="form-control" id="inputEmail" placeholder="Email">-->
<!--                        </div>-->
<!--                      </div>-->
<!--                      <div class="form-group row">-->
<!--                        <label for="inputName2" class="col-sm-2 col-form-label">Name</label>-->
<!--                        <div class="col-sm-10">-->
<!--                          <input type="text" class="form-control" id="inputName2" placeholder="Name">-->
<!--                        </div>-->
<!--                      </div>-->
<!--                      <div class="form-group row">-->
<!--                        <label for="inputExperience" class="col-sm-2 col-form-label">Experience</label>-->
<!--                        <div class="col-sm-10">-->
<!--                          <textarea class="form-control" id="inputExperience" placeholder="Experience"></textarea>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                      <div class="form-group row">-->
<!--                        <label for="inputSkills" class="col-sm-2 col-form-label">Skills</label>-->
<!--                        <div class="col-sm-10">-->
<!--                          <input type="text" class="form-control" id="inputSkills" placeholder="Skills">-->
<!--                        </div>-->
<!--                      </div>-->
<!--                      <div class="form-group row">-->
<!--                        <div class="offset-sm-2 col-sm-10">-->
<!--                          <div class="checkbox">-->
<!--                            <label>-->
<!--                              <input type="checkbox"> I agree to the <a href="#">terms and conditions</a>-->
<!--                            </label>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                      <div class="form-group row">-->
<!--                        <div class="offset-sm-2 col-sm-10">-->
<!--                          <button type="submit" class="btn btn-danger">Submit</button>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </form>-->
<!--                  </div>-->
                  <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
              </div><!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>

{% endblock %}
