{% extends 'base_index.html' %}
{% load static %}


<!-- School info header START -->
{% block content %}
<!-- Hero section -->
	<section class="hero-section">
		<div class="hero-slider owl-carousel">
			<div class="hs-item set-bg" data-setbg="{{ school_info.background_image.url }}">
				<div class="hs-text">
					<div class="container">
						<div class="row">
							<div class="col-lg-8">
								<div class="hs-subtitle">{{ school_info.name }}</div>
								<h2 class="hs-title">{{ school_info.slogan }}</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<!-- School info header END -->


<!-- Blog section -->

<section class="blog-section spad">
    <div class="container">
			<div class="section-title text-center">
				<h3>ПОСЛЕДНИЕ НОВОСТИ</h3>
				<p>Будьте в курсе всех новостей и событий о нашей школе</p>
			</div>
			<div class="row">
				{% for post in posts %}
				<div class="col-xl-6">
					<div class="blog-item">
						<div class="blog-thumb set-bg" data-setbg="{{ post.image.url }}"></div>
						<div class="blog-content">
							<h4>{{post.title|truncatechars:40}}</h4>
							<div class="blog-meta">
								<span><i class="fa fa-calendar-o"></i> {{post.created}}</span>
								<span><i class="fa fa-user"></i> {{post.author}}</span>
							</div>
							<p>{{ post.content|truncatechars:100 }}</p>
						</div>
					</div>
				</div>
			{% endfor %}
			</div>
<!--&lt;!&ndash;		Pagination&ndash;&gt;-->
<!--			<div class="d-flex">-->
<!--				  <ul class="pagination ms-auto">-->
<!--					<li class="page-item {%if not page_obj.has_previous%} disabled{%endif%}">-->
<!--					  <a class="page-link" href="{% if page_obj.has_previous %}?page={{page_obj.previous_page_number}}{%endif%}" tabindex="-1" aria-disabled="true">-->
<!--						&lt;!&ndash; Download SVG icon from http://tabler-icons.io/i/chevron-left &ndash;&gt;-->
<!--						<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="15 6 9 12 15 18" /></svg>-->
<!--						prev-->
<!--					  </a>-->
<!--					</li>-->

<!--					{% for i in page_obj.paginator.get_elided_page_range %}-->
<!--					  {% if i == page_obj.paginator.ELLIPSIS %}-->
<!--					<li class="page-item"><a class="page-link" href="?page={{i}}">-->
<!--						{{i}}-->
<!--					</a></li>-->
<!--					  {% else %}-->
<!--					  <li class="page-item {%if i == page_obj.number%} active {%endif%}"><a class="page-link" href="?page={{i}}">-->
<!--						{{i}}-->
<!--					</a></li>-->
<!--					  {% endif %}-->
<!--					{% endfor %}-->

<!--					<li class="page-item {%if not page_obj.has_next%} disabled {%endif%}">-->
<!--					  <a class="page-link" href="{% if page_obj.has_next %}?page={{page_obj.next_page_number}}{% endif %}">-->
<!--						next &lt;!&ndash; Download SVG icon from http://tabler-icons.io/i/chevron-right &ndash;&gt;-->
<!--						<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="9 6 15 12 9 18" /></svg>-->
<!--					  </a>-->
<!--					</li>-->
<!--				  </ul>-->
<!--            </div>-->
<!--&lt;!&ndash;		EndPagination&ndash;&gt;-->
		</div>
	</section>

<!-- Blog section -->


<!-- Fact section -->
	<section class="fact-section spad set-bg" data-setbg="{% static '/unico/img/fact-bg.jpg' %}">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-lg-3 fact">
					<div class="fact-icon">
						<i class="ti-crown"></i>
					</div>
					<div class="fact-text">
						<h2>{{ years }}</h2>
						<p>ЛЕТ</p>
					</div>
				</div>
				<div class="col-sm-6 col-lg-3 fact">
					<div class="fact-icon">
						<i class="ti-briefcase"></i>
					</div>
					<div class="fact-text">
						<h2>{{ teachers }}</h2>
						<p>ПРЕПОДАВАТЕЛЕЙ</p>
					</div>
				</div>
				<div class="col-sm-6 col-lg-3 fact">
					<div class="fact-icon">
						<i class="ti-user"></i>
					</div>
					<div class="fact-text">
						<h2>{{ students }}</h2>
						<p>УЧАЩИХСЯ</p>
					</div>
				</div>
				<div class="col-sm-6 col-lg-3 fact">
					<div class="fact-icon">
						<i class="ti-pencil-alt"></i>
					</div>
					<div class="fact-text">
						<h2>{{ subjects }}+</h2>
						<p>ПРЕДМЕТОВ</p>
					</div>
				</div>
			</div>
		</div>
	</section>

<!-- Courses section -->
	<section class="courses-section spad">
		<div class="container">
			<div class="section-title text-center">
				<h3>КРУЖКИ</h3>
				<p>Создаем лучший мир</p>
			</div>
			<div class="row">
				<!-- course item -->
				{% for course in courses %}
				<div class="col-lg-4 col-md-6 course-item">
					<div class="course-thumb">
						<img src="{{course.image.url}}" alt="">
						<div class="course-cat">
							<span>{{course.title}}</span>
						</div>
					</div>
					<div class="course-info">
						<h4 class="cource-price">{{course.price}} сом<span>/месяц</span></h4>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</section>
	<!-- Courses section end-->
	<!-- Gallery section -->
	<div class="gallery-section">
		<div class="gallery">
			<div class="grid-sizer"></div>
			{% for gallery in galleries %}
			<div class="gallery-item set-bg " data-setbg="{{gallery.image.url}}">
				<a class="img-popup" href="{{gallery.image.url}}"><i class="ti-plus"></i></a>
			</div>
			{% endfor %}
		</div>
	</div>
	<!-- Gallery section -->


	<!-- Services section -->
	<section class="service-section spad">
		<div class="container services">
			<div class="section-title text-center">
				<h3>У нас вы найдете:</h3>
				<p>Мы предоставляем возможность подготовиться к жизни</p>
			</div>
			<div class="row">
				{% for service in services %}
				<div class="col-lg-4 col-sm-6 service-item">
					<div class="service-icon">
						<img src="{{service.image.url}}" alt="1">
					</div>
					<div class="service-content">
						<h4>{{service.title}}</h4>
						<p>{{service.description|truncatechars:120}}</p>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</section>
	<!-- Services section end -->

{% endblock content %}
