{% extends 'base_template.html' %}
{% load static %}
{% block header_title %}
  <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Мой профиль</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item ">Мой профиль</li>
              <li class="breadcrumb-item ">Расписание занятий</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
{% endblock header_title %}


{% block content %}
<section class="content">
  <div class="container-fluid">
<div class="row">
<div class="col-md-6">
<div class="card card-info">
  <div class="card-header">
    <h3 class="card-title">Понедельник</h3>
  </div>
              <!-- /.card-header -->
  <div class="card-body">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th style="width: 10px">№</th>
          <th>Время</th>
          <th>Предмет</th>
          <th >Преподаватель</th>
          <th >Кабинет</th>
          <th >Класс</th>
        </tr>
      </thead>
      <tbody>
      {% for i in time_tables %}
      {% if i.weeks == '1'%}
        <tr>
          <td></td>
          <td>{{i.lesson}}</td>
          <td>{{ i.subject }}</td>
          <td>{{i.teacher}}</td>
          <td>{{i.room}}</td>
          <td>{{i.student_group}}</td>
        </tr>
      {% endif %}
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
</div>

<div class="col-md-6">
<div class="card card-info">
  <div class="card-header">
    <h3 class="card-title">Вторник</h3>
  </div>
              <!-- /.card-header -->
  <div class="card-body">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th style="width: 10px">№</th>
          <th>Время</th>
          <th>Предмет</th>
          <th >Преподаватель</th>
          <th >Кабинет</th>
          <th >Класс</th>
        </tr>
      </thead>
      <tbody>
      {% for i in time_tables %}
      {% if i.weeks == '2'%}
        <tr>
          <td></td>
          <td>{{i.lesson}}</td>
          <td>{{ i.subject }}</td>
          <td>{{i.teacher}}</td>
          <td>{{i.room}}</td>
          <td>{{i.student_group}}</td>
        </tr>
      {% endif %}
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
</div>

  <div class="col-md-6">
<div class="card card-info">
  <div class="card-header">
    <h3 class="card-title">Среда</h3>
  </div>
              <!-- /.card-header -->
  <div class="card-body">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th style="width: 10px">№</th>
          <th>Время</th>
          <th>Предмет</th>
          <th >Преподаватель</th>
          <th >Кабинет</th>
          <th >Класс</th>
        </tr>
      </thead>
      <tbody>
      {% for i in time_tables %}
      {% if i.weeks == '3'%}
        <tr>
          <td></td>
          <td>{{i.lesson}}</td>
          <td>{{ i.subject }}</td>
          <td>{{i.teacher}}</td>
          <td>{{i.room}}</td>
          <td>{{i.student_group}}</td>
        </tr>
      {% endif %}
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
  </div>

  <div class="col-md-6">
<div class="card card-info">
  <div class="card-header">
    <h3 class="card-title">Четверг</h3>
  </div>
              <!-- /.card-header -->
  <div class="card-body">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th style="width: 10px">№</th>
          <th>Время</th>
          <th>Предмет</th>
          <th >Преподаватель</th>
          <th >Кабинет</th>
          <th >Класс</th>
        </tr>
      </thead>
      <tbody>
      {% for i in time_tables %}
      {% if i.weeks == '4'%}
        <tr>
          <td></td>
          <td>{{i.lesson}}</td>
          <td>{{ i.subject }}</td>
          <td>{{i.teacher}}</td>
          <td>{{i.room}}</td>
          <td>{{i.student_group}}</td>
        </tr>
      {% endif %}
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
  </div>

  <div class="col-md-6">
<div class="card card-info">
  <div class="card-header">
    <h3 class="card-title">Пятница</h3>
  </div>
              <!-- /.card-header -->
  <div class="card-body">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th style="width: 10px">№</th>
          <th>Время</th>
          <th>Предмет</th>
          <th >Преподаватель</th>
          <th >Кабинет</th>
          <th >Класс</th>
        </tr>
      </thead>
      <tbody>
      {% for i in time_tables %}
      {% if i.weeks == '5'%}
        <tr>
          <td></td>
          <td>{{i.lesson}}</td>
          <td>{{ i.subject }}</td>
          <td>{{i.teacher}}</td>
          <td>{{i.room}}</td>
          <td>{{i.student_group}}</td>
        </tr>
      {% endif %}
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
  </div>

  <div class="col-md-6">
<div class="card card-info">
  <div class="card-header">
    <h3 class="card-title">Суббота</h3>
  </div>
              <!-- /.card-header -->
  <div class="card-body">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th style="width: 10px">№</th>
          <th>Время</th>
          <th>Предмет</th>
          <th >Преподаватель</th>
          <th >Кабинет</th>
          <th >Класс</th>
        </tr>
      </thead>
      <tbody>
      {% for i in time_tables %}
      {% if i.weeks == '6'%}
        <tr>
          <td></td>
          <td>{{i.lesson}}</td>
          <td>{{ i.subject }}</td>
          <td>{{i.teacher}}</td>
          <td>{{i.room}}</td>
          <td>{{i.student_group}}</td>
        </tr>
      {% endif %}
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
  </div>
</div>
  </div> </section>
{% endblock %}
